---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Error 404">
  <h1 class="text-white">Error 404</h1>
  <p class="text-white">Por aqui no se pasa, algo has hecho que no debes</p>
</Layout>
